{% extends 'base.html' %}
{% block title %}{{ movie.title }}{% endblock %}
{% block content %}

<div class="page-top">
  <h1>{{ movie.title }}</h1>
  <div style="display:flex;gap:.5rem">
    <a href="{% url 'movie_update' movie.pk %}" class="btn btn-orange">Edit</a>
    <a href="{% url 'movie_delete' movie.pk %}" class="btn btn-sm" style="background:#3a0000;color:#ff4444;padding:.45rem 1rem">Delete</a>
   <a href="{% url 'home' %}" class="btn btn-dark">Back to Home →</a>
  </div>
</div>

<div class="grid2">
  <div class="card">
    <h3 style="color:#666;font-size:.75rem;text-transform:uppercase;letter-spacing:1px;margin-bottom:1rem">Movie Info</h3>
    <div style="display:flex;flex-direction:column;gap:.7rem">
      <div style="display:flex;justify-content:space-between"><span style="color:#666">Genre</span><span class="genre">{{ movie.genre }}</span></div>
      <div style="display:flex;justify-content:space-between"><span style="color:#666">Duration</span><span>{{ movie.duration }} min</span></div>
      <div style="display:flex;justify-content:space-between"><span style="color:#666">Rating</span><span class="rating">★ {{ movie.rating }}/10</span></div>
      <div style="display:flex;justify-content:space-between"><span style="color:#666">Release</span><span>{{ movie.release_date }}</span></div>
      <div style="display:flex;justify-content:space-between"><span style="color:#666">Status</span>
        {% if movie.is_showing %}<span class="badge b-green">Now Showing</span>
        {% else %}<span class="badge b-red">Not Showing</span>{% endif %}
      </div>
    </div>
  </div>
  <div class="card">
    <h3 style="color:#666;font-size:.75rem;text-transform:uppercase;letter-spacing:1px;margin-bottom:1rem">Description</h3>
    <p style="line-height:1.7;color:#ccc;font-size:.9rem">{{ movie.description }}</p>
  </div>
</div>

<div class="page-top" style="margin-top:1.5rem">
  <h1 style="font-size:1.2rem">Showtimes</h1>
  <a href="{% url 'showtime_create' %}" class="btn btn-red btn-sm">+ Add Showtime</a>
</div>

<div class="card" style="padding:0;overflow:hidden">
<table>
  <thead><tr><th>Date</th><th>Time</th><th>Hall</th><th>Price</th><th>Seats</th><th>Book</th></tr></thead>
  <tbody>
  {% for s in showtimes %}
  <tr>
    <td>{{ s.start_time|date:"Y-m-d" }}</td>
    <td>{{ s.start_time|time:"H:i" }}</td>
    <td><span class="badge b-blue">{{ s.hall_name }}</span></td>
    <td style="color:#ffd700">{{ s.price }} SR</td>
    <td>
      {% if s.available_seats > 0 %}
        <span class="badge b-green">{{ s.available_seats }}</span>
      {% else %}
        <span class="badge b-red">Sold Out</span>
      {% endif %}
    </td>
    <td>
      {% if s.available_seats > 0 %}
        <a href="{% url 'booking_create' s.pk %}" class="btn btn-red btn-sm">Book</a>
      {% endif %}
    </td>
  </tr>
  {% empty %}
  <tr><td colspan="6" style="text-align:center;padding:1.5rem;color:#555">No showtimes yet.</td></tr>
  {% endfor %}
  </tbody>
</table>
</div>

{% endblock %}
